@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:root {
  --pink: hsl(322, 100%, 66%);
  --VeryPaleCyan: hsl(193, 100%, 96%);
  --VeryDarkCyan: hsl(192, 100%, 9%);
  --GrayishBlue: hsl(208, 11%, 55%);
  
}

body{
  z-index: -1;
}
header {
  background-image: url(./images/bg-hero-desktop.svg);
  background-size: contain;
  height: auto;
  background-color: var(--VeryPaleCyan);
  font-family: "Poppins", sans-serif;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 11vh;
}

.logo img {
  width: 12%;
}

.logo button {
  background-color: white;
  border: none;
  border-radius: 50px;
  width: 175px;
  font-size: 14px;
  padding: 1vw;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  box-shadow: 0 5px 8px rgb(0 0 0 / 10%);
  border: 1px solid rgba(var(--lightGrey), 1);
}

.headerContain {
  padding: 3vw 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contain {
  width: 50%;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

.contain h1 {
  width: 80%;
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 4.5rem;
  margin-bottom: 30px;
}

.contain p {
  width: 88%;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: 35px;
}

.contain button {
  width: fit-content;
  background-color: var(--pink);
  color: white;
  font-size: 1.5rem;
  padding: 1vw 8vh;
  border-radius: 50px;
  border: none;
  margin-bottom: 40px;
}

.imagemHeader {
  width: 50%;
}

.imagemHeader img {
  width: 90%;
}

main {
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

/*  ----- div grow ------  */
.grow {
  display: flex;
  width: 80%;
  margin-bottom: 30px;
  border-radius: 18px;
  padding-left: 7vw;
  align-items: center;
  box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
  border: 1px solid rgba(var(--lightGrey), 1);
}

.containGrow {
  width: 40%;
  padding: 15px;
}

.containGrow h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 18px;
}

.containGrow p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: rgb(167, 167, 167);
}

.imageGrow {
  width: 60%;
  padding: 35px;
  display: flex;
  justify-content: end !important;
}

.imageGrow img {
  width: 60%;
}

/*  ----- div flowing ------  */

.flowing {
  display: flex;
  width: 80%;
  margin-bottom: 30px;
  border-radius: 18px;
  padding-left: 7vw;
  align-items: center;
  box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
  border: 1px solid rgba(var(--lightGrey), 1);
}

.containFlowing {
  order: 2;
  width: 50%;
  padding: 15px;
}

.containFlowing h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 18px;
}

.containFlowing p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: rgb(167, 167, 167);
}

.imageFlowing {
  order: 1;
  width: 45%;
  display: flex;
  padding: 35px 0;
}

.imageFlowing img {
  width: 80%;
}

/*  ----- div your Users ------  */
.yourUsers {
  display: flex;
  width: 80%;
  margin-bottom: 350px;
  border-radius: 18px;
  padding-left: 7vw;
  align-items: center;
  box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
  border: 1px solid rgba(var(--lightGrey), 1);
}

.containYourUsers {
  width: 40%;
  padding: 15px;
}

.containYourUsers h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 18px;
}

.containYourUsers p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: rgb(167, 167, 167);
}

.imageYourUsers {
  width: 60%;
  padding: 35px;
  display: flex;
  justify-content: end !important;
}

.imageYourUsers img {
  width: 60%;
}

.getStart {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60% !important;
  height: 280px;
  border-radius: 20px;
  box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
  border: 1px solid rgba(var(--lightGrey), 1);
  background-color: white;
  color: black;
  margin:-170px 22%; 
  font-family: "Poppins";
}
.getStart p {
  letter-spacing: 0.5px;
  font-size: 2.4rem;
  font-weight: 800;
  padding: 50px;
}

.getStart button {
  letter-spacing: 1px;
  width: fit-content;
  background-color: var(--pink);
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 3vh 7vw;
  border-radius: 50px;
  border: none;
}

footer {
  padding-top: 200px !important;
  padding-left: 8vw !important;
  background-color: var(--VeryDarkCyan);
  display: flex;
  color: rgb(214, 216, 219);
  position: relative;
}

.logoFooter {
  margin-bottom: 30px;
}

.containFooter {
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  width: 70%;
}

.location {
  display: flex;
  padding: 10px;
  line-height: 1.4rem;
  width: 70%;
}
.location img {
  margin-right: 25px;
  width: 15px;
  height: 15px;
}

.tel {
  display: flex;
  padding: 10px;
  line-height: 1.4rem;
  align-items: center;
}
.tel img {
  margin-right: 25px;
  width: 15px;
  height: 15px;
}
.email {
  display: flex;
  padding: 10px;
  line-height: 1.4rem;
  align-items: center;
}
.email img {
  margin-right: 25px;
  width: 15px;
  height: 15px;
}
.links {
  max-width: 500px;
  display: grid;
  grid-template-columns:
    minmax(230px, max-content)
    repeat(auto-fill, 230px);
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
  padding: 15px 0;
  height: fit-content;
}

.links p {
  width: 160px;
  font-size: 1.1rem;
  height: 40px;
}

.socialMedia {
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  width: 25%;
}

.socialMedia i {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
  width: 10px;
  height: 10px;
  border: 1px;
  border-style: solid;
  border-radius: 100px;
  margin-right: 10px;
}
.copyright {
  display: flex;
  padding: 10px 45px;
  justify-content: end;
  font-size: 0.8rem;
}
/* ----------
----------
----------
----------
----------
----------
----------
----------
----------
 ----------*/

/* ----------
----------
----------
----------
----------
----------
----------
----------
----------
 ----------*/

@media (min-width: 768px) and (max-width: 1024px) {
  .contain h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .contain p {
    font-size: 0.8rem;
    line-height: 1.1rem;
  }
  .contain button {
    font-size: 0.8rem;
    padding: 1vw 8vh;
  }
  .imagemHeader img {
    width: 100%;
  }
  .containGrow h1 {
    font-size: 1.4rem;
  }
  .containGrow p {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .containFlowing h1 {
    font-size: 1.4rem;
  }
  .containFlowing p {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .containYourUsers h1 {
    font-size: 1.4rem;
  }
  .containYourUsers p {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

  .getStart p {
    font-size: 2rem;
    padding: 30px;
  }
  
  .getStart button {
    padding: 2vh 6vw; 
  }

  .info {
    width: 60%;
    font-size: 1rem;
  }
  .location {
    line-height: 1.4rem;
    width: 90%;
  }
  .location p {
    width: 100%;
  }

  .links {
    width: 30%;
    grid-template-columns:
      minmax(160px, max-content)
      repeat(auto-fill, 160px);
  }

  .links p {
    width: 120px;
    font-size: 1.1rem;
    height: 40px;
  }

  .socialMedia {
    width: 25%;
  }

  .copyright {
    font-size: 0.8rem;
  }
}

/* ----------
----------
----------
----------
----------
----------
----------
----------
----------
 ----------*/

@media (min-width: 480px) and (max-width: 768px) {
  body {
    width: 100%;
  }

  header {
    width: 100%;
    height: auto;
    background-image: url(./images/bg-hero-mobile.svg);
  }
  .headerContain {
    justify-content: center;
    padding: 2vh 5vw;
  }

  .logo {
    padding: 5vh 6vw;
    margin: 0;
  }
  .logo img {
    width: 25%;
  }

  .logo button {
    font-size: 0.8rem;
    width: fit-content;
    padding: 1vh 6vw;
  }

  .contain {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contain h1 {
    width: 100%;
    font-size: 1.5rem;
    line-height: 2.1rem;
    text-align: center;
    margin: 0;
  }
  .contain p {
    text-align: center;
    width: 95%;
    font-size: 0.9rem;
    line-height: 1.4rem;
    margin: 20px 0 20px 0;
  }
  .contain button {
    margin: 0 auto;
    text-align: center;
    font-size: 0.7rem;
    padding: 2vw 6vh;
  }

  .imagemHeader {
    width: 55%;
    display: flex;
    justify-content: center;
  }
  .imagemHeader img {
    padding: 15px;
    width: 95%;
  }

  main {
    width: 90%;
    margin: 70px auto;
  }
  .grow {
    padding: 0;
    width: 90%;
  }
  .containGrow {
    width: 60%;
    text-align: center;
  }

  .containGrow h1 {
    font-size: 1.4rem;
  }
  .containGrow p {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

  .imageGrow {
    width: 40%;
    padding: 10px;
  }
  .imageGrow img {
    width: 90%;
  }
  /*-------------------------------------------*/
  .flowing {
    width: 90%;
    padding: 0;
  }
  .containFlowing h1 {
    font-size: 1.4rem;
  }
  .containFlowing p {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .imageFlowing {
    padding: 10px;
  }
  .imageFlowing img {
    width: 75%;
  }

  /*------------------------------------------*/
  .yourUsers {
    padding: 0;
    width: 90%;
  }
  .containYourUsers {
    width: 90%;
    text-align: center;
  }

  .containYourUsers h1 {
    font-size: 1.4rem;
  }
  .containYourUsers p {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

  .imageYourUsers {
    display: flex;
    justify-content: center !important;
    width: 80% !important;
    padding: 0;
  }
  .imageYourUsersimg {
    padding: 0;
    width: 120% !important;
  }
  /*----------------------------------------------*/
  .info {
    width: 40%;
    font-size: 1rem;
  }
  .location {
    line-height: 1.4rem;
    width: 90%;
  }

  .links {
    justify-content: center;
    display: flex;
    width: 30%;
  }

  .links p {
    width: 120px;
    font-size: 1.1rem;
    height: 40px;
  }

  .socialMedia {
    width: 10%;
  }

  .copyright {
    font-size: 0.8rem;
  }
}

/* ----------
----------
----------
----------
----------
----------
----------
----------
----------
 ----------*/

@media (max-width: 479px) {
  body {
    width: 100%;
  }

  header {
    width: 100%;
    height: auto;
    background-image: url(./images/bg-hero-mobile.svg);
  }
  .headerContain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8vh 12vw;
  }

  .logo {
    padding: 20px;
    margin: 0;
  }
  .logo img {
    width: 30%;
  }

  .logo button {
    font-size: 0.7rem;
    width: fit-content;
    padding: 1vh 9vw;
  }

  .contain {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contain h1 {
    width: 100%;
    font-size: 1.7rem;
    line-height: 2.7rem;
    text-align: center;
  }
  .contain p {
    text-align: center;
    width: 95%;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .contain button {
    margin: auto;
    text-align: center;
    font-size: 0.7rem;
    padding: 3vw 8vh;
  }

  .imagemHeader {
    margin-top: 50px;
    width: 100%;
  }
  .imagemHeader img {
    width: 100%;
  }

  main {
    width: 90%;
    margin: 70px auto;
  }
  /*-------------------------------------------------*/
  .grow {
    flex-direction: column;
    padding: 0;
    width: 90%;
  }
  .containGrow {
    width: 75%;
    order: 2;
    text-align: center;
  }

  .containGrow h1 {
    font-size: 1.2rem;
  }
  .containGrow p {
    font-size: 0.9rem;
    line-height: 1.3rem;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .imageGrow {
    order: 1;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center !important;
  }
  .imageGrow img {
    width: 80%;
  }
  /*-------------------------------------------------------*/
  .flowing {
    flex-direction: column;
    padding: 0;
    width: 90%;
  }
  .containFlowing {
    width: 75%;
    order: 2;
    text-align: center;
  }

  .containFlowing h1 {
    font-size: 1.2rem;
  }
  .containFlowing p {
    font-size: 0.9rem;
    line-height: 1.3rem;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .imageFlowing {
    order: 1;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center !important;
  }
  .imageFlowing img {
    width: 80%;
  }
  /*---------------------------------------------------------*/

  .yourUsers {
    flex-direction: column;
    padding: 0;
    width: 90%;
  }
  .containYourUsers {
    width: 75%;
    order: 2;
    text-align: center;
  }

  .containYourUsers h1 {
    font-size: 1.2rem;
  }
  .containYourUsers p {
    font-size: 0.9rem;
    line-height: 1.3rem;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .imageYourUsers {
    order: 1;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center !important;
  }
  .imageYourUsers img {
    width: 80%;
  }

  /*---------------------------------------------------------*/

  .containFooter {
    flex-direction: column;
    width: 100%;
  }
  .info {
    width: 80%;
    font-size: 1rem;
  }
  .location {
    line-height: 1.4rem;
    width: 100%;
  }

  .links {
    margin-top: 35px;
    display: flex;
    width: 50%;
  }

  .links p {
    width: 120px;
    font-size: 1.1rem;
    height: 40px;
  }

  .socialMedia {
    width: 30%;
    margin: auto;
  }

  .copyright {
    justify-content: center;
    font-size: 0.8rem;
    padding-bottom: 50px;
  }
}
